@import "tailwindcss";

@font-face {
  font-family: 'ChenYuluoyan';
  src: url('./assets/fonts/ChenYuluoyan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalDream';
  src: url('./assets/fonts/digital-dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('./assets/fonts/GenRyuMin2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KingSans';
  src: url('./assets/fonts/KingSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Naikai';
  src: url('./assets/fonts/Naikai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/PlayfairDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Singlong';
  src: url('./assets/fonts/Singlong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSerifTC';
  src: url('./assets/fonts/SourceHanSerifTC.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./assets/fonts/Spectral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --breakpoint-xs: 480px;

  --color-pink-50: #F9F0F5;
  --color-pink-100: #FFCFE8;
  --color-pink-200: #FEBADE;
  --color-pink-300: #FA9CCD;
  --color-pink-400: #F181BB;
  --color-pink-500: #E866A8;
  --color-pink-600: #D05C92;

  --color-violet-50: #F9F7FF;
  --color-violet-100: #EFE8FF;
  --color-violet-200: #D3C8F3;
  --color-violet-300: #C1B3EE;
  --color-violet-400: #B5A0F5;
  --color-violet-500: #9F87E9;
  --color-violet-600: #8F75E1;
  --color-violet-700: #7F63D9;
  --color-violet-800: #6F51D1;
  --color-violet-900: #52428A;
}

body {
  @apply tracking-wide;
}

#root {
  @apply flex flex-col min-h-screen bg-gradient-to-br from-violet-50 from-20% via-violet-100 via-50% to-white to-120%;
}

main {
  @apply flex-1 w-full py-4;
}

a {
  @apply hover:underline;
}

input[type="color"], button, select {
  @apply cursor-pointer disabled:cursor-not-allowed;
}

input:not(input[type="color"]), select, textarea {
  @apply bg-white border rounded-md focus:outline-none;
}

input[type="color"]::-moz-color-swatch {
  @apply rounded-md border-violet-300;
}

input[type="color"]::-webkit-color-swatch {
  @apply rounded border-violet-300;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  @apply p-0 rounded-none;
}
