@import 'tailwindcss';

@font-face {
  font-family: 'ChenYuluoyan';
  src: url('./assets/fonts/ChenYuluoyan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DigitalDream';
  src: url('./assets/fonts/digital-dream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GenRyuMin2';
  src: url('./assets/fonts/GenRyuMin2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KingSans';
  src: url('./assets/fonts/KingSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Naikai';
  src: url('./assets/fonts/Naikai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/fonts/PlayfairDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Singlong';
  src: url('./assets/fonts/Singlong.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSerifTC';
  src: url('./assets/fonts/SourceHanSerifTC.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./assets/fonts/Spectral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --breakpoint-xs: 480px;

  --color-pink-50: #f9f0f5;
  --color-pink-100: #ffcfe8;
  --color-pink-200: #febade;
  --color-pink-300: #fa9ccd;
  --color-pink-400: #f181bb;
  --color-pink-500: #e866a8;
  --color-pink-600: #d05c92;

  --color-violet-50: #f9f7ff;
  --color-violet-100: #efe8ff;
  --color-violet-200: #d3c8f3;
  --color-violet-300: #c1b3ee;
  --color-violet-400: #b5a0f5;
  --color-violet-500: #9f87e9;
  --color-violet-600: #8f75e1;
  --color-violet-700: #7f63d9;
  --color-violet-800: #6f51d1;
  --color-violet-900: #52428a;
}

@layer base {
  body {
    @apply bg-gradient-to-br from-violet-50 from-20% via-violet-100 via-50% to-white to-120% tracking-wide;
  }

  #root {
    @apply flex min-h-screen flex-col;
  }

  main {
    @apply w-full flex-1 py-4;
  }

  a {
    @apply hover:underline;
  }

  input[type='color'],
  button,
  select {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }

  input:not(input[type='color']),
  select,
  textarea {
    @apply rounded-md border bg-white text-gray-900 focus:outline-none;
  }

  input[type='color']::-moz-color-swatch {
    @apply rounded border border-violet-300;
  }

  input[type='color']::-webkit-color-swatch {
    @apply rounded border border-violet-300;
  }

  input[type='color']::-webkit-color-swatch-wrapper {
    @apply rounded-none p-0;
  }
}
